body {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row-reverse;
    height: 23vh;
    width: 91%;
    padding-left: 4vw;
    padding-right: 5vw;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-right {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.app-name {
    margin: 0;
}

.nav-left {
    width: 32%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 75%;
}

main {
    height: 100%;
    width: 91%;
    padding-left: 4vw;
    padding-right: 5vw;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
}

.grid-container {
    height: 121vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.grid-box {
    width: 100%;
    grid-gap: 15px;
    background-color: grey;
}

.shares-heading {
    padding-top: 3%;
    padding-bottom: 1%;
}

.one {
    background-image: url
}